*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';

}
body{
    background: black;
    color: white;
    padding: 10px 10%;
}
html{
    scroll-behavior: smooth;
}
div li{
    list-style-type: none;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
    position: relative;
}
div ul{
    display: flex;
    float: right;
    width: 48%;
    justify-content: right;
    font-size: 20px;
    
    
}
div ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
div ul li a:hover:after{
    width: 100%;
}
div a{
    text-decoration: none;
    color: white
}
.muda{
    float: left;
    width: 20%;
}
.container-img{
    float: right;
    width: 40%;
}
.container-txt{
    float: left;
    width: 60%;
    margin-top: 100px;
    font-size: 30px;
}
.container-txt h1{
    font-size: 50px;
}
.container-txt h1 span{
    color: blue;
}
.txt{
    font-size: medium;
    color: whitesmoke;
}
.clear{
    clear: both;
}
.mudathir{
    width: 400px;
    border-radius: 6em;
}
.wrap1{
    margin-top: 50px;
}
/*------------abount------*/
.about{
    margin-top: 60px;
    font-size: 40px;
    width: 70%;
}
.skills{
    margin-top: 40px;
    border:whitesmoke 1px solid;
    align-items: left;
    float: left;
    width: 30%;
    margin-left: 10px;
    box-sizing: border-box;
    height: 200px;
    border-radius: 4px;
    background: rgb(78, 77, 77);
}
.skills-link{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: whitesmoke;
    
}
.skills-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    left: 0;
    position: absolute;
    bottom: -6px;
    transition: 0.3s ease;
}
.skills-link.active:hover::after{
    width: 20%;
}
.app{
    padding: 0 !important;
}
span{color: blue;}
ol{
    padding: 0 !important;
}
.skills-link.active{
    margin-top: 40px;
}
/*-------portfolio----*/
.work-txt h1{
    font-size: 40px;

}
.work-txt{
    margin-top: 60px;
}
.work-img{
    float: left;
    width: 32%;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    
}
.work-img:hover{
    transform: scale(1.1);
}
.pics{
   border-radius: 10px; 
   display: block;
   transition: transform 0.5s;
}
.layer{
    width: 80%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),blue);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    transition: height 0.5s;
}
.work-img:hover.layer{
    height: 100%;
}
.layer h3{
    padding-bottom: 10px;
}
.layer p{
    font-size: small;
}
.layer a{
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    height: 40px;
    color: blue;
}
/*---------contact----*/
.container-left{
    float: left;
    width: 35%;
    margin-top: 60px;
}
.container-right{
    float: left;
    width: 60%;
    margin-top: 60px;
}
.container-left p{
    margin-top: 30px;
}
.icon{
    margin-top: 30px;
    margin-bottom: 20px;
}
.container-left p i{
    color: blue;
    font-size: 15px;
}
.icon i{
    margin-right: 15px;
    font-size: 15px;
    display: inline-block;
    transition: transform 0.5s;
}
.icon a:hover{
    color: blue;
    transform: translateY(-5px);
}
.btn{
    background-color: blue;
    height: 40px;
    width: 130px;
    border-radius: 3px;
    border-color: blue;
    cursor: pointer;
    font-size: 18px;
}
.container-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    background-color: rgb(78, 77, 77);
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: small;
    font-weight: 400;
    padding: 25px 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(78, 77, 77);
    margin-top: 30px;
    border-radius: 5px;
}
.copyright i{
    color: blue;
    font-size: large;
}
#message{
    color: rgba(236, 181, 78, 0.329);
    display: block;
    margin-top: 20px;
}
@media only screen and (max-width:600px){
    div ul{
        width: 100%;
        display: table-row;
        justify-content: left;
    }
    .muda{
        margin-bottom: 50px !important;
    }
    .mudathir{
        width: 100%;
        justify-content: center;
        border-radius: 10px;
    }
    .container-txt{
        font-size: x-small;
    }
    .about{
        width: 100%;
        font-size: x-small;
    }
    .skills{
        width: 100%;
        box-sizing: content-box;
        
    }
    .skills-content{
        font-size: x-small;
        width: 100%;
    }
    container-left{
        width: 100%;
    }
    .container-right{
        width: 100%;
    }
    .copyright{
        width: 100%;
    }
    .txt{
        font-size: smaller;
    }
    .work-img{
        width: 100%;
        padding-top: 20px;
    }
}